// @import '~bootstrap/scss/bootstrap'

@use 'partials/variables' as *;
@use 'partials/mixin' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1278px;
    margin: 0 auto;
}

header {
    height: $header-height;
    .container {
        height: 100%;
        @include dFlexRow(between);
        * {
            cursor: pointer;
        }
        .logo {
            width: 90px;
            @include dFlexRow(alignCenter)
        }
        nav, ul, li {
            height: 100%;
        }
        ul {
            li {
                line-height: $header-height;
                display: inline-block;
                margin: 0 10px;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $secondary-color;
                }
                &:hover,
                &.active {
                border-bottom: 5px solid $primary-color;
                }
                &:hover a,
                &.active a{
                color: $primary-color;
                }
            }
        }
    }

}

footer {
    height: $footer-height;
    .footer-top {
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        .container {
            height: 100%;
            height: calc($footer-height - $social-footer-height);
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: right;
            .footer-wrapper {
                padding-top: 40px;
                .footer-menu {
                    display: flex;
                    .col {
                        margin-right: 30px;
                        h3 {
                            color: $text-light;
                            text-transform: uppercase;
                        }
                        ul {
                            margin: 15px 0;
                            li {
                                margin-bottom: 5px;
                                a {
                                    text-decoration: none;
                                    color: lighten($bg-dark, 40%);
                                    font-size: 0.8rem;
                                    &:hover {
                                    color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
                p {
                    color: lighten($bg-dark, 40%);
                    font-size: 0.8rem;
                    a {
                        text-decoration: none;
                        color: $primary-color;
                        font-size: 0.8rem;
                    }
                }
                a {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: 0.8rem;
                }
            }
        }
    }

    .social-footer {
        height: $social-footer-height;
        background-color: $bg-dark;
        .container{
            height: 100%;
            @include dFlexRow(betweenCenter);
            .sign-up {
                border: 2px solid $primary-color;
                padding: 10px;
                cursor: pointer;
                transition: all 1s;
                a {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $text-light;
                    text-transform: uppercase;
                    text-decoration: none;
                }
                &:hover {
                    background-color: $primary-color;
                }
            }
            .social {
                @include dFlexRow(alignCenter);
                * {
                    margin: 0 5px;
                }
                span {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $primary-color;
                }
                img:hover {
                    filter: brightness(2);
                }
            }
        }
    }

}



