$primary-color: #0582F9;
$secondary-color: #575757;

$text-light: #ffffff;
$accent-color: #104463;
$price-color: #55BA5A;

$bg-dark: #303030;
$bg-dark-2: #1C1C1C;
$bg-light: #F6F6F6;

$header-height: 120px;
$jumbo-height: 400px;
$icons-height: 150px;
$footer-height: 520px;
$social-footer-height: 110px;
