$primary-color: #0582F9;
$secondary-color: #575757;

$text-light: #ffffff;

$bg-dark: #303030;

$header-height: 120px;
$jumbo-height: 360px;
$icons-height: 150px;
$footer-height: 520px;
$social-footer-height: 110px;
