header {
    height: $header-height;
    .container {
        height: 100%;
        @include dFlexRow(between);
        * {
            cursor: pointer;
        }
        .logo {
            width: 90px;
            @include dFlexRow(alignCenter)
        }
        nav, ul, li {
            height: 100%;
        }
        ul {
            li {
                line-height: $header-height;
                display: inline-block;
                margin: 0 10px;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $secondary-color;
                }
                &:hover,
                &.active {
                border-bottom: 5px solid $primary-color;
                }
                &:hover a,
                &.active a{
                color: $primary-color;
                }
            }
        }
    }

}
